body {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 48px;
    line-height: 0.9;
    background-image: url('bg1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    text-align: center;
    padding: 20px;
}

h3 {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    line-height: 0.9;
}

img {
    max-width: 350px;
    margin-bottom: -30px;
}

button {
    padding: 10px 64px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #142359;
}



@media (max-width: 767px) {
    body {
        font-size: 36px;
        line-height: 1;
    }

    h3 {
        font-size: 18px;
    }

    img {
        max-width: 250px;
        margin-bottom: -20px;
    }

    button {
        padding: 8px 48px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 24px;
        line-height: 1;
    }

    h3 {
        font-size: 16 px;
    }

    img {
        max-width: 250px;
        margin-bottom: -30px;
    }

    button {
        padding: 6px 36px;
        font-size: 12px;
    }
}